@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(100, 74, 87, 0.5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

footer{
    background-color: #ffdbe7;
    color: white;
}

body{
    font-family: Helvetica, 
    sans-serif;
    font-size: large;
    color: rgb(2, 1, 2);
    background-color: rgb(255, 148, 148);
    margin-top: 20pt;
    margin-bottom: auto;
}

h1,h2,h3,h4,h5{
    font-family: 'Helvetica', sans-serif;
    text-align: left;
}

.navbar-inverse .navbar-brand {
    border: rgb(500, 500, 500) 5px solid;
    color: rgb(255, 255, 255);
    border-width: medium;
    border-radius: 20mm;
    color: rgb(255, 255, 255);
}

.navbar-inverse{
    background-color: #24151f;

}
h1{
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 100mm;
    background-color: hsl(247, 100%, 98%);
}

.navbar-inverse .navbar-nav.navbar > li > a{
    color:  rgb(255, 255, 255);
    border: white 1px solid;
    border-radius: 10mm;
}

.btn-primary {
    color: white;
    background-color: violet;
    border-color: whitesmoke;
}
